# Dependencies
node_modules/

# Build output
out/
dist/
build/
coverage/

# Environment
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
.idea/
.vscode/

# Debug logs
*.log
/tmp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# electron-vite
*.asar

# Package artifacts
release/
